<div class="swiper-slide shadow-2xl rounded-lg">
  <div class="p-4 rounded-lg bg-white "  style="border: 4px solid <%= color %>">
  <h4 class="font-bold" style="color: <%= color %>">
    <%= @type ? @type.name : "すべて" %>
  </h4>
  <div class="py-2 px-5">
    <div data-controller="doughnut"
        data-doughnut-color-value="<%= color %>"
        data-doughnut-payment-value="<%= expenses_in_month %>"
        data-doughnut-budget-value="<%= sum_budgets %>"></div>
  </div>
  <div class="py-2">
    <canvas data-controller="line"
        data-line-days-value="<%= days.to_json.html_safe %>"
        data-line-payments-value="<%= expense_stack.to_json.html_safe %>"
        data-line-budgets-value="<%= budget_stack.to_json.html_safe %>"></canvas>
  </div>
  </div>
</div>
