<div class="text-center">
  <%= link_to book_path(current_book, current: @current.last_month.end_of_month), class: "inline-block px-5" do %>
    <span class="material-icons-outlined">
      arrow_back_ios
    </span>
  <% end %>
  <h1 class="inline-block text-center text-2xl font-bold"><%= @current.strftime("%Y年%m月") %></h1>
  <%= link_to book_path(current_book, current: @current.next_month.end_of_month), class: "inline-block px-5" do %>
    <span class="material-icons-outlined">
        arrow_forward_ios
    </span>
  <% end %>
</div>  

<div data-controller="cards" class="p-10">
  <div class="swiper-wrapper">
    <%= render(CardComponent.new(book: current_book, current: @current)) %>
    <% Type.all.each do |type| %>
    <%= render(CardComponent.new(book: current_book, type: type, current: @current)) %>
    <% end %>
  </div>
</div>


<% @payments_by_date.each do |date, payments| %>
  <div class="border-b-2" style="margin-bottom: -15px; margin-top: 30px;"></div>
  <div class="w-full text-center">
    <h4 class="text-xl bg-white inline-block px-4 text-gray-400"><%= date %></h4>
  </div>
  <div class="py-4">
  <% payments.each do |payment| %>
  <%= link_to edit_book_payment_path(@book, payment) do %>
  <div class="flex flex-row p-4 mb-4 bg-white rounded-lg shadow-lg">
    <div class="flex flex-col">
      <p class="font-bold">
        <%= number_to_currency(payment.expenses.sum(:amount), unit: "¥", format: "%u %n", strip_insignificant_zeros: true) %>
        =
          <span style="color: <%= type_color("required") %>"><%= number_to_currency(payment.required_expense.amount, unit: "¥", format: "%u %n", strip_insignificant_zeros: true) %></span>
          +
          <span style="color: <%= type_color("affluent") %>"><%= number_to_currency(payment.affluent_expense.amount, unit: "¥", format: "%u %n", strip_insignificant_zeros: true) %></span>
        
      </p>
      <p class="text-gray-400"><%= [payment.tag&.name, payment.memo].select { |c| c && c.present? }.join("・") %></p>
    </div>
  </div>
  <% end %>
  <% end %>
  </div>
<% end %>

<div class="fixed p-5" style="bottom: 0px; right: 0px">
  <%= link_to new_book_payment_path(current_book), class:"relative block text-center w-20 h-20 bg-white shadow-xl rounded-full" do %>
    <span class="material-icons-outlined text-4xl absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
      edit_note
      </span>
  <% end %>
</div>
