<h1 class="text-center text-4xl font-bold mb-5"><%= @current.strftime("%Y年%m月") %></h1>

<% @payments_by_date.each do |date, payments| %>
  <div class="border-b-2" style="margin-bottom: -15px; margin-top: 30px;"></div>
  <div class="w-full text-center">
    <h4 class="text-xl bg-white inline-block px-4 text-gray-400"><%= date %></h4>
  </div>
  <div class="py-4">
  <% payments.each do |payment| %>
  <%= link_to edit_book_payment_path(@book, payment) do %>
  <div class="flex flex-row p-4 mb-4 bg-white rounded-lg shadow-lg">
    <div class="flex flex-col">
      <p class="font-bold"><%= number_to_currency(payment.expenses.sum(:amount), unit: "¥", format: "%u %n", strip_insignificant_zeros: true) %></p>
      <p class="text-gray-400"><%= payment.memo %></p>
    </div>
  </div>
  <% end %>
  <% end %>
  </div>
<% end %>

<div class="flex flex-row fixed w-full shadow-2xl" style="bottom: 0px; right: 0px">
  <%= link_to "前月",
              book_payments_path(current_book, type: @type&.id, current: @current.last_month.end_of_month),
              class: "inline-block w-1/2 py-6 font-bold bg-gray-600 text-white text-center" %>
  <%= link_to "翌月",
              book_payments_path(current_book, type: @type&.id, current: @current.next_month.end_of_month),
              class: "inline-block w-1/2 py-6 font-bold text-gray-600 bg-gray-200 text-center" %>
</div>
