<%= form_with url: book_expense_path,
              model: @expense do |f| %>
  <div class="w-full py-16 px-8 rounded-xl border-2 shadow-lg">
  <div class="py-2">
    <%= f.label "¥", class: "pr-3 text-4xl" %>
    <%= f.text_field :amount, class: "p-2 text-4xl w-4/5 border-b-2", placeholder: "900", autofocus: true, required: true %>
  </div>
  <div class="py-2">
    <%= f.label "日付", class: "block mb-2" %>
    <%= f.date_field :date, class: "p-2 border-2 w-full" %>
  </div>
  <div class="py-2">
    <%= f.check_box :monthly, as: :boolean %>
    <%= f.label :monthly, "月に一度の支払い" %>
  </div>
  <div class="py-2">
    <%= f.label "カテゴリ", class: "block mb-2" %>
    <%= f.select :category_id, Category.pluck(:name, :id).to_a, {}, class: "w-full p-2 border-2"  %>
  </div>
  <div class="py-2">
    <%= f.label "メモ", class: "block mb-2" %>
    <%= f.text_field :memo, class: "p-2 border-2 w-full", placeholder: "イオン"  %>
  </div>
  </div>
  <div class="py-10 text-center w-full">
    <%= f.submit "変更", style: "width: 100px; height: 100px; line-height: 100px", class: "inline-block shadow-lg bg-gray-600 text-white rounded-lg font-bold rounded-full text-xl" %>
  </div>
<% end %>
