<%= form_with url: book_expense_path,
              model: @expense do |f| %>
  <div class="w-full py-16 px-8 rounded-xl border-4 shadow-lg border-white"
        data-controller="colorize"
        data-colorize-colors-value='<%= Category::COLORS.to_json.html_safe %>'>
  <div class="py-2">
    <%= f.label "¥", class: "pr-3 text-4xl" %>
    <%= f.text_field :amount, class: "p-2 text-4xl w-4/5 border-b-2", placeholder: "900", autofocus: true, required: true %>
  </div>
  <div class="py-2">
    <%= f.label "日付", class: "block mb-2" %>
    <%= f.date_field :date, class: "p-2 border-2 w-full" %>
  </div>
  <div class="py-2">
    <%= f.check_box :monthly, as: :boolean %>
    <%= f.label :monthly, "月に一度の支払い" %>
  </div>
  <div class="py-2">
    <%= f.label "カテゴリ", class: "block mb-2" %>
      <div class="flex rounded-xl overflow-hidden">
        <% Category.all.each do |category| %>
          <div class="relative flex-1">
            <%= f.radio_button :category_id, category.id,
                  checked: category.id == @expense.category_id,
                  class: "peer w-full h-10 opacity-0 z-50",
                  data: { colorize_target: "source", action: "colorize#call", category_name: category.name } %>
            <label style="background: <%= category.color %>"
                    class="absolute flex
                          top-0 left-0 items-center justify-center
                          text-white
                          w-full h-full
                          text-center font-bold -z-50
                          opacity-50 peer-checked:opacity-100">
              <%= category.name %>
            </label>
            </div>
        <% end %>
      </div>
  </div>
  <div class="py-2">
    <%= f.label "メモ", class: "block mb-2" %>
    <%= f.text_field :memo, class: "p-2 border-2 w-full", placeholder: "イオン"  %>
  </div>
  </div>
  <div class="py-10 text-center w-full">
    <%= f.submit "変更", style: "width: 100px; height: 100px; line-height: 100px", class: "inline-block shadow-lg bg-gray-600 text-white rounded-lg font-bold rounded-full text-xl" %>
  </div>
<% end %>
