<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>

  <body class="font-san text-gray-600" style="display: none;">
    <header class="px-4 shadow-md fixed w-full bg-white" style="z-index: 100; line-height: 50px; height: 50px;">
      <p class="text-lg font-bold inline-block">
        <%= link_to root_path, class: "text-decoration-none text-dark" do %>
          <%= vite_image_tag "images/logo.png", width: "50px", height: "50px" %>
        <% end %>
      </p>
      <% if current_user %>
        <%= link_to "#{current_user.name} さん", setting_user_path(current_user), style: "line-height: 50px;", class: "text-sm font-bold inline-block float-right mx-2" %>
      <% end %>
      <% if current_book %>
      <%= link_to current_book.name, setting_book_path(current_book), style: "line-height: 50px;", class: "text-sm font-bold inline-block float-right mx-2" %>
      <%= link_to "タグ", book_tags_path(book_id: current_book.id), style: "line-height: 50px;", class: "text-sm font-bold inline-block float-right mx-2" %>
      <%= link_to "予算", book_edit_budget_path(book_id: current_book.id), style: "line-height: 50px;", class: "text-sm font-bold inline-block float-right mx-2" %>
      <% end %>
    </header>

    <main class="mx-auto px-3" style="overflow: hidden; box-sizing: border-box; width: 100%; padding-top: 80px; padding-bottom: 100px; max-width: 500px;">
      <%= render(AlertComponent.new(text: flash[:notice]))%>
      <%= yield %>
    </main>
  </body>
</html>
