<!DOCTYPE html>
<html>
  <head>
    <title>fun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="font-san text-gray-600">
    <header class="px-3 shadow fixed w-full bg-white" style="z-index: 100; line-height: 50px; height: 50px;">
      <p class="text-lg font-bold inline-block italic"><%= link_to "FUN!", root_path, class: "text-decoration-none text-dark" %></p>
    </header>

    <main class="mx-auto px-3" style="padding-top: 80px;overflow: hidden; max-width: 500px;">
      <%= render(AlertComponent.new(text: flash[:notice]))%>
      <%= yield %>
    </main>
  </body>
</html>
